
<!doctype html>
<html>
  <head>
  <meta charset="utf8">
  <link rel="stylesheet" href="/css/style.css">
  <title>Checkers</title>
  </head>
      <body>
      <h1>Checker Board</h1>
        <table>

                 <% for (var r = 0; r < 8; r++) { %>
                 <tr> 
                 <% for (var c = 0; c < 8; c++) { %>

                 <td> </td>
                  <% }  %>
                   </tr>
                  <% } %>
        </table>
      </body>
 </html>








