<!doctype html>
<html>
  <head>
  <meta charset="utf8">
   <link rel="stylesheet" href="/css/sumlist.css">
  <title>Sumlist</title>
  </head>
    <body>
    <h1>Sumlist</h1>
    <table>
       <% for(var i = 0; i < a.length; i++){ %>
       <% var color = (a[i]%2) ? odd : even %>
        <tr>
          <td style="color:<%=color%>">
            <%= a[i] %>
            </td>
        </tr>
        <% } %>
        <tr>
          <td><%=sum%></td>
         </tr>
      </table>
    </body>
</html>
